body {
    margin: 0;
}

ul {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    height: 8vh;
}

nav .nav-left {
    display: flex;
    padding-left: 100px;
    flex: 50%;
    background-color: gainsboro;
}

nav .nav-left li {
    display: inline;
}

nav .nav-left ul li a {
    text-decoration: none;
    padding: 12px;
    color: black;    
}

nav .nav-left ul img {
    height: 50px; 
    width: 100%; 
    border-radius: 2px;
    justify-content: flex-end;
}

nav .nav-right {
    display: flex;
    flex: 50%;
    background-color: gainsboro;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
}

nav .nav-right a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    background-color: #ec4437;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.card {
    border: 3px solid white;
    width: 980px;
    margin: 90px auto;
    height: 550px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(119, 116, 116);
    display: flex;
    flex: 50%;
    padding: 40px;
}

.content {
    background-color: white;
    margin-right: auto;
    text-align: left;
    width: 600px;
    /* box-shadow: 0 0 9px rgb(27, 27, 27); */
    border-radius: 10px;
    /* padding: 0px; */
    border: 3px solid white;
}

h3 {
    font-size: 20pt;
}

.button {
    color: white;
    text-decoration: none;
    background-color: rgb(9, 2, 36);
    padding-top: 4px;
    padding-bottom: 4px; 
    padding-right: 23px;
    padding-left: 23px;
    border-radius: 20px;  
}

.knob a {
    text-decoration: none;
    padding-left: 30px;
}

.knob {
    padding-top: 100px;
}

.fawesome {
    padding-top: 100px;
}

.fawesome a {
    padding-left: 20px;
}

.image {
    border: 1px solid white;
    width: 400px;
    box-shadow: 0 0 2px rgb(117, 115, 115);
    border-radius: 10px;
    padding: 10px;
    justify-content: flex-end;
    margin-left: auto;
    background-color: white;

}

.image img {
    border-radius: 12px;
    width: 100%;
    height: 350px;
}

.image h1 {
    text-align: center;
}

.image h2 {
    text-align: center;
}




